header{
background-image: url('Image1.html');
background-size: cover;
height: 400px;



}

@media (max-width:375)  {
    

    
}

.texte{
display: flex;
justify-items: center;
}


.haut {

display: flex;
justify-items:flex-start ;



}

.souligner {

color: orange;
font-size: 22px;


}
ul{
list-style-type: none;

}
aside {
display: flex;
justify-content: right;



}


i{
margin-right: 10px;

}


.bouge{
display: flex;
justify-items: flex-end;


}







